<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<srcrpt src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></srcrpt>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>

<!--youtube-search.js 추가-->
<script src="/js/app/yt-search.js"></script>

<!--ds-yt-search.js (구 search.js) 추가 @ 2021.01.04.-->
<script src="/js/app/ds-yt-search.js"></script>

</body>
</html>