<!-- layout내 footer/header로 분리에 따른 주석 @ 2020.10.26 LSH
<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹 Dynamic Shark 서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>스프링부트로 시작하는 DS 게시판</h1>
</body>
</html>
-->

{{>layout/header}}

    <h1>스프링 부트 웹 Dynamic Shark 서비스 v2.4.6</h1>
    <h6>   - YouTubeAPI searchResults (JSON) connects with show-yt-resutls.mustache </h6>
    <!--<h6>   - ajax 형식 controller 통신 개선</h6>-->
    <div class="col-md-12">
        <!-- login area -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}

                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>

                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- contents area -->
        <br>
        <!-- 자유게시판 그리드 - 테이블 - 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <!-- 다샤 콘텐츠 크롤링 영역 - 키워드-페이지-결과테이블 - 출력 영역 merge from ds-youtube-search\index.html @ 2021.01.04. -->
        <div class="row">
            <div class="col-md-6">
                <!--<a href="/youtube" role="button" class="btn btn-primary">유튜브 API 테스트</a>-->
                <button type="button" class="btn btn-primary" id="btn-search">유튜브 키워드 검색</button>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="queryTerm">
                <!--<input type="text" class="form-control" maxlength="64" th:field="*{queryTerm}" placeholder="For example: tom brady"/>-->
                <div class="form-actions">
                    <!--button type="submit" class="btn blue">Search YouTube</button>-->
                    <a href="/youtubeDemo" role="button" class="btn btn-secondary">유튜브 API 데모</a>
                </div>
            </div>
            <h1>스프링 부트 웹 Dynamic Shark 크롤링 리스트</h1>
            <div class="col-md-12">

                <!-- contents area -->
                <!-- 자유게시판 그리드 / 테이블 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>Link</th>
                        <th>비디오Id</th>
                        <th>채널Id</th>
                        <th>채널명</th>
                        <th>제목</th>
                        <th>설명</th>
                        <th>게시일시</th>
                        <th>재생시간</th>
                        <th>조회수</th>
                        <th>태그</th>
                        <th>라벨</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#videos}}
                        <tr>
                            <td>{{url}}</td>
                            <!--<td><a href="/posts/update/{{id}}">{{title}}</a></td>-->
                            <td>{{title}}</td>
                            <td>{{publishDate}}</td>
                        </tr>
                    {{/videos}}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h2>다샤 Youtube Search (B/O Pilot ver 1.6.8 이관)</h2>
                <input type="button" value="DB 등록" class="btn btn-info" id="export">
                <div id="totalResults"></div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" id="search">
        </div>
        <form id="channelInfo">
            <div class="form-group">
                <input type="text" class="form-control" id="nextPageToken">
            </div>
            <!--
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="next-page">
            </div>
            -->
        </form>
        <form id="videoInfo">
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <table id="links" border="2">
                <!-- 아래 CSS 참조 : http://jsfiddle.net/3rtfcy10/5/ -->
                <style>
                    table {
                        table-layout: fixed;
                        border-collapse: collapse;
                    }

                    table th,
                    table td {
                        padding: 5px;
                        max-width: 440px;
                        mix-width: 80px;
                        text-align: center;
                        background-color: blanchedalmond;
                    }
                </style>
                <head>
                    <tr>
                        <td>Link</td>
                        <td>Video Id</td>
                        <td>Channel Id</td>
                        <td>Channel</td>
                        <td>Title</td>
                        <td>Desc.</td>
                        <td>PublishAt</td>
                        <td>Time</td>
                        <td>ViewCnt</td>
                        <td>CommentCnt</td>
                        <td>Tags</td>
                        <td>Label</td> <!-- labelling 컬럼 추가 @ 2020.12.28 -->
                    </tr>
                </head>
                <tbody id="videos"></tbody>
            </table>
        </form>
    </div>

{{>layout/footer}}
